@{
    ViewData["Title"] = "Confirmation";
}
@model CarLoanCalculator.Models.LoanViewModel

<div class="container">
    <h2>Confirmation</h2>
    <p><strong>Price of Vehicle:</strong> $ @Model.VehiclePricePlanA</p>
    <p><strong>Total Payment Amount:</strong> $ @Model.TotalPaymentAmountPlanA</p>
    <p><strong>Down Payment:</strong> $ @Model.DownPaymentPlanA</p>
    <p><strong>Insurance Type:</strong>@Model.InsuranceTypePlanA</p>
    <p><strong>Insurance Price:</strong> $ 999,999</p>
    <p><strong>Other Fees:</strong> $ @Model.OtherFeesPlanA</p>
    <p><strong>Taxes:</strong> $ 999,999</p>
    <p><strong>Loan Term:</strong> @Model.LoanTermPlanA</p>
    <p><strong>Loan Start Date:</strong> @Model.LoanStartDatePlanA</p>
    <p><strong>Loan End Date:</strong> mm/yyyy</p>
    <p><strong>Interest Rate:</strong> @Model.InterestRatePlanA</p>
    <p><strong>Total Interest Paid:</strong> $ @Model.TotalInterestPaidPlanA</p>
    <p><strong>Total Loan Amount:</strong> $ @Model.TotalLoanAmountPlanA</p>
    <p><strong>Monthly Payment</strong> $ @Model.MonthlyPaymentPlanA</p>


    <button class="button">Confirm Loan Plan</button>
</div>

