@{
    ViewData["Title"] = "Confirmation";
}
@model CarLoanCalculator.Models.LoanViewModel

<div class="container">
    <h2>Confirmation</h2>
    <p><strong>Price of Vehicle:</strong> $ @Model.VehiclePrice</p>
    <p><strong>Total Payment Amount:</strong> $ @Model.TotalPaymentAmount</p>
    <p><strong>Down Payment:</strong> $ @Model.DownPayment</p>
    <p><strong>Insurance Type:</strong>@Model.InsuranceType</p>
    <p><strong>Insurance Price:</strong> $ @Model.InsurancePrice</p>
    <p><strong>Other Fees:</strong> $ @Model.OtherFees</p>
    <p><strong>Taxes:</strong> $ @Model.Taxes</p>
    <p><strong>Loan Term:</strong> @Model.LoanTerm months</p>
    <p><strong>Loan Start Date:</strong> @Model.LoanStartDate</p>
    <p><strong>Loan End Date:</strong> @Model.LoanEndDate</p>
    <p><strong>Interest Rate:</strong> @Model.InterestRate %</p>
    <p><strong>Total Interest Paid:</strong> $ @Model.TotalInterestPaid</p>
    <p><strong>Total Loan Amount:</strong> $ @Model.TotalLoanAmount</p>
    <p><strong>Monthly Payment</strong> $ @Model.MonthlyPayment</p>


    <button class="button">Confirm Loan Plan</button>
</div>

